<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
  <script src="users.js"></script>
  <script src="script.js"></script>
  <title>Challenge Question 1</title>

  <div ng-controller="MainCtrl as main">

    <form name="userForm" ng-submit="main.submit(); userForm.$setPristine()">
      <input name="firstName" type="text" ng-model="main.user.firstName" placeholder="First Name" ng-required="true"/>
      <p ng-show="userForm.firstName.$error.required && userForm.firstName.$dirty">
        Please enter your first name.
      </p>

      <input name="lastName" type="text" ng-model="main.user.lastName" placeholder="Last Name" required/>
      <p ng-show="userForm.lastName.$error.required && userForm.lastName.$dirty">
        Please enter your last name.
      </p>

      <input name= "email" type="email" ng-model="main.user.email" placeholder="Email Address" ng-required="true" ng-pattern="main.emailPattern"/>
      <p ng-show="userForm.email.$error.required && userForm.email.$dirty">Please enter an email.</p>
      <p ng-show="userForm.email.$error.pattern  && userForm.email.$dirty">Email not valid.</p>

      <input name="phoneNumber" type="number" ng-model="main.user.phoneNumber" placeholder="Phone Number" ng-required="true" ng-pattern="main.phonePattern" ng-minlength="10" ng-maxlength="10"/><br />
      <p ng-show="((userForm.phoneNumber.$error.required || userForm.phoneNumber.$error.number)&& userForm.phoneNumber.$dirty)">Please enter a phone number.</p>
      <p ng-show="((userForm.phoneNumber.$error.minlength || userForm.phoneNumber.$error.maxlength) && userForm.phoneNumber.$dirty)">Phone numbers should be 10 digits long.</p>

      Would you like to sign up for the mailing list?
      <input type="radio" ng-model="main.user.mailingList" value="Yes">Yes
      <input type="radio" ng-model="main.user.mailingList" value="No"/>No
      <button type="submit">Submit</button>

      <div ng-if="main.submitted == true">
        {{main.display}}
      </div>
      <div ng-if="main.submitted == false">
        {{main.display}}
      </div>
    </form>

    <div>
      Show list of Users <input type="checkbox" ng-model="main.checked"/>
      <div ng-if="main.checked == true">
        <div ng-repeat="user in main.users">
          <table>
            <thead>
              <th>
                First Name
              </th>
              <th>
                Last Name
              </th>
              <th>
                Email Address
              </th>
              <th>
                Phone Number
              </th>
              <th>
                Mailing List?
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{user.firstName}}
                </td>
                <td>
                  {{user.lastName}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td>
                  {{user.phoneNumber}}
                </td>
                <td ng-if="user.mailingList == true">
                  Checkmark img
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</head>
<body>

</body>
</html>
